<div class="android-screen-section mdl-typography--text-center">
  <a name="screens"></a>
  <div class="mdl-typography--display-1-color-contrast">Powering screens of all sizes</div>
  <div class="android-screens">
    <div class="android-wear android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="<%= asset_path('wear-silver-on.png') %>">
        <img class="android-screen-image" src="<%= asset_path('wear-black-on.png') %>">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android Wear</a>
    </div>
    <div class="android-phone android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="<%= asset_path('nexus6-on.jpg') %>">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Phones</a>
    </div>
    <div class="android-tablet android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="<%= asset_path('nexus9-on.jpg') %>">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Tablets</a>
    </div>
    <div class="android-tv android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="<%= asset_path('tv-on.jpg') %>">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android TV</a>
    </div>
    <div class="android-auto android-screen">
      <a class="android-image-link" href="">
        <img class="android-screen-image" src="<%= asset_path('auto-on.jpg') %>">
      </a>
      <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">Coming Soon: Android Auto</a>
    </div>
  </div>
</div>
<div class="android-wear-section">
  <div class="android-wear-band">
    <div class="android-wear-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">The best of Google built in</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        Android works perfectly with your favourite apps like Google Maps,
        Calendar and YouTube.
      </p>
      <p>
        <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
          See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>
        </a>
      </p>
    </div>
  </div>
</div>
<div class="android-customized-section">
  <div class="android-customized-section-text">
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customised by you, for you</div>
    <p class="mdl-typography--font-light">
      Put the stuff that you care about right on your home screen: the latest news, the weather or a stream of your recent photos.
      <br>
      <a href="" class="android-link mdl-typography--font-light">Customise your phone</a>
    </p>
  </div>
  <div class="android-customized-section-image"></div>
</div>
